body
{
    background-color: azure;
}



#root
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#layout
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 500px;
    grid-template-areas:
    "header"
    "content"
    "footer"
    
    
    ;
}

#layout header
{
    grid-area: header;
    background-color: red;
}

#layout main
{
    grid-area: content;
    background-color: orange;
}

#layout footer
{
    grid-area: footer;
    background-color: yellow;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #root {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #root
    {
     width: 720px;   
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #root
    {
     width: 960px;   
    }

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #root
    {
     width: 1140px;   
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #root
    {
     width: 1320px;   
    }
}